:root {
   font-size: 62.5%;

   /* Colors */
   --hueColor: 162; /* Change this hue value to modify the schema color on entire website */

   --firstColor: hsl(var(--hueColor), 72%, 50%);
   --firstColorText: hsl(var(--hueColor), 76%, 13%);
   --gradientColor: linear-gradient(
      180deg,
      hsl(var(--hueColor), 89%, 79%) 11.46%,
      hsl(var(--hueColor), 86%, 38%) 96.87%
   );
   --bgColor: #0e0e0f;
   --dark1Color: #131316;
   --whiteColor: #fcfcfc;
   --grey1Color: #b6b5b4;
   --grey2Color: #555459;

   /* Font sizes */
   --smallerFont: 1.2rem;
   --smallFont: 1.4rem;
   --mediumFont: 1.6rem;
   --normalFont: 1.8rem;
   --bigFont: 2rem;
   --biggerFont: 8rem;
   --detailFont: 14.8rem;
   --logoFont: 2.4rem;

   /* Others */
   --transition: 0.2s ease;
}

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.container {
   max-width: 1200px;
   width: calc(100vw - 100px);
   margin: auto;
}

@media (max-width: 730px) {
   .container {
      width: calc(100vw - 50px);
   }
}

html,
body {
   background-color: var(--bgColor);
   color: var(--whiteColor);
   height: 100vh;
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
}
