:root {
   font-size: 62.5%;

   /* Colors */
   --hueColor: 162; /* Change this hue value to modify the schema color on entire website */

   --firstColor: hsl(var(--hueColor), 72%, 50%);
   --firstColorText: hsl(var(--hueColor), 76%, 13%);
   --gradientColor: linear-gradient(
      180deg,
      hsl(var(--hueColor), 89%, 79%) 11.46%,
      hsl(var(--hueColor), 86%, 38%) 96.87%
   );
   --bgColor: #0e0e0f;
   --dark1Color: #131316;
   --whiteColor: #fcfcfc;
   --grey1Color: #b6b5b4;
   --grey2Color: #555459;
   --detailColor: #101010;

   /* Font sizes */
   --smallerFont: 1.2rem;
   --smallFont: 1.4rem;
   --mediumFont: 1.6rem;
   --normalFont: 1.8rem;
   --bigFont: 2rem;
   --biggerFont: 8rem;
   --detailFont: 25rem;
   --titleDetailFont: 15.6rem;
   --logoFont: 2.4rem;
   --aboutMeFont: 3.2rem;

   /* Clamps for responsives */
   --textToSmallClamp: clamp(var(--smallFont), 2vw, var(--normalFont));
   --textToMediumClamp: clamp(var(--mediumFont), 2.5vw, var(--normalFont));

   /* Others */
   --transition: 0.2s ease;
   --borderRadius: 4px;
}

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.container {
   max-width: 1200px;
   width: calc(100vw - 100px);
   margin: auto;
   padding: 3.2rem 0;
   height: calc(100vh - 112px);
}
@media (max-width: 730px) {
   .container {
      width: calc(100vw - 50px);
   }
}

html,
body {
   background-color: var(--bgColor);
   color: var(--whiteColor);
   height: 100vh;
   overflow-x: hidden;
   position: relative;
   z-index: -10;
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
}

.titleDetailStyles {
   font-size: var(--titleDetailFont);
   text-transform: uppercase;
   word-wrap: break-word;
   line-height: 0.95;
   letter-spacing: -5px;
   color: var(--dark1Color);
}
@media (max-width: 1130px) {
   .titleDetailStyles {
      font-size: clamp(var(--aboutMeFont), 12vw, var(--titleDetailFont));
      word-break: normal;
      line-height: initial;
   }
}
@media (max-width: 730px) {
   .titleDetailStyles {
      font-size: clamp(var(--aboutMeFont), 12vw, var(--titleDetailFont));
      letter-spacing: -1px;
   }
}

#hero {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translateX(-50%) translateY(-50%);
   z-index: -1;
}

.detail {
   color: var(--detailColor);
   font-size: var(--detailFont);
   font-weight: 600;
   position: absolute;
   z-index: -2;
}
.detail1 {
   top: 150px;
   right: -70px;
   letter-spacing: -10px;
}
.detail2 {
   top: 20px;
   left: 10px;
   transform: rotate(-15deg);
}
.detail3 {
   bottom: 40px;
   right: 100px;
   transform: rotate(15deg);
}

#figmasvgdetail {
   position: absolute;
   top: 85px;
   left: 50px;
}

#htmlsvgdetail {
   position: absolute;
   top: 70px;
   right: 60px;
}

#csssvgdetail {
   position: absolute;
   bottom: 165px;
   left: 70px;
}

#reactsvgdetail {
   position: absolute;
   bottom: 230px;
   right: 60px;
}

#figmasvgdetail,
#htmlsvgdetail,
#csssvgdetail,
#reactsvgdetail {
   display: none;
}

.slideRight {
   opacity: 0;
   transform: translateX(30px);
   animation: slideRight 0.7s forwards;
}

@keyframes slideRight {
   to {
      opacity: 1;
      transform: initial;
   }
}

@media (max-width: 730px) {
   .detail {
      display: none;
   }

   #figmasvgdetail,
   #htmlsvgdetail,
   #csssvgdetail,
   #reactsvgdetail {
      display: block;
   }

   #figmasvgdetail,
   #csssvgdetail {
      width: 32px;
   }

   #htmlsvgdetail,
   #reactsvgdetail {
      width: 40px;
   }
}
